<div class="container-fluid bodyContenedor" style="background-color: #f0f8ff;">
    <h1 class="text-center" style="font-family: -apple-system-">Detalles del libro</h1>

    <div class="row">

        <div class="col-12 col-sm-6 ">
            <h3 class="text-center" style="font-family: -apple-system-">Datos del dueño</h3>
            <div class="container-fluid p-0 card mb-3 bg-light" style="background-color: aliceblue;">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters bg-light">

                        <div class="col-md-8">
                            <div class="card-body textoCartas">

                                <h2 class=""><u>Usuario</u>:
                                    <span>{{user.username}}</span></h2>
                                <h2><u>Email</u>:
                                    <span>{{user.email}}</span></h2>
                                <h2><u>Provincia</u>:
                                    <span>{{user.provincia}}</span></h2>
                                <h2><u>Localidad</u>:
                                    <span>{{user.localidad}}</span> </h2>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="text-center">
                <a class="btn btn-info" href="/bookspersons/{{book.duenio}}" role="button">Mas libros del
                    usuario</a>
            </div>
        </div>
        <div class="col-12 col-sm-6 ">
            <h3 class="text-center" style="font-family: -apple-system-">Libro</h3>
            <div class="container-fluid p-0 card mb-2 bg-light" style="background-color: aliceblue;">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters bg-light">
                        <div class="col-md-4">
                            <img class="card-img-top card-img-topA bg-light" style="height: 225px;"
                                src="/images/books/{{book.img}}" alt="Card image cap">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body textoCartas">
                                <h2><u>Titulo</u>:
                                    <span class="text-center">{{book.titulo}}</span>
                                </h2>
                                <h2 class=""><u>Autor</u>:
                                    <span>{{book.autor}}</span></h2>
                                <h2><u>Editorial</u>:
                                    <span>{{book.editorial}}</span></h2>
                                <h2><u>ISBN</u>:
                                    <span>{{book.isbn}}</span></h2>
                                <h2><u>Tematica</u>:
                                    <span>{{book.tematica}}</span> </h2>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="text-center">
                <a class="btn btn-warning" href="/message/{{book.id}}/" role="button">
                    Comentar</a>
                <a class="btn btn-success" href="/addfav/{{book.id}}/{{book.duenio}}" role="button">Agregar a
                    Favoritos</a>
            </div>
        </div>
    </div>



</div>