<div class="container-fluid p-0 bodyContenedor" style="background-color: aliceblue;">
    <h1 class="text-center" style="font-family: -apple-system-">Mis datos</h1>

    <div class="d-flex align-content-around flex-wrap">
        <div class="mx-auto" style="background-color: aliceblue;">
            <div class="card mb-3 " style="max-width: 540px;">

                
                    <div class="card-body bg-light textoCartas">

                        <h2 class=""><u>Dueño</u>:
                            <span>{{user.username}}</span></h2>
                        <h2><u>Email</u>:
                            <span>{{user.email}}</span></h2>
                        <h2><u>Provincia</u>:
                            <span>{{user.provincia}}</span></h2>
                        <h2><u>Localidad</u>:
                            <span>{{user.localidad}}</span> </h2>
                    </div>
            

            </div>
        </div>
    </div>
    <p class="text-success text-center m-auto ">{{successfulChangePass}}</p>
    <div class="text-center">
        <a class="btn btn-success mt-1" href="/changepass" role="button">Cambiar contraseña</a>

    </div>
</div>